<div class='wide-container clear-fix person'>
  <h3 class="sticky" id="{{slugify person.name}}">{{person.name}}</h3>
  <section>
    {{#if person.mobiledoc}}
      {{post-body mobiledoc=person.mobiledoc tagName='' cardNames=(list 'youtube' 'photo' 'ticket' 'itinerary' 'gallery') atomNames=(list 'line-break')}}
    {{/if}}
  </section>
</div>